html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

.app-outer {
  padding: 10vh 5vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFEAD0;
  color: #96616B; }
  .app-outer .menu {
    display: flex;
    flex-direction: column; }
    .app-outer .menu form {
      display: flex;
      justify-content: center; }

.display-outer {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 50vw; }
  .display-outer ul {
    list-style: none;
    margin: 15px;
    text-align: center; }
    .display-outer ul h3 {
      margin-bottom: 5px;
      border-bottom: 2px solid black; }
